---
import BaseLayout from '../layouts/BaseLayout.astro';
import WalletSets from '../components/WalletSets.astro';
import { actions } from 'astro:actions';
import { getSecret } from "astro:env/server";

const secretsConfigured = Boolean( getSecret('API_KEY')) && Boolean(getSecret('ENTITY_SECRET'));
const createWalletSetResponse = Astro.getActionResult(actions.createWalletSet.createWalletSet);

if (createWalletSetResponse && !createWalletSetResponse.error) {
  return Astro.redirect(`/walletset/${createWalletSetResponse.data?.walletSet.id}`);
}
---

<BaseLayout>
	<section>
		<h1>Wallets Playground</h1>
		<p>An exploration of the <code>@circle-fin/developer-controlled-wallets</code> package for the creation and listing of wallet sets and wallets. Alternatively, go directly to the <a href="https://console.circle.com/wallets/dev/wallets">Circle developer's console</a> to see a list of all developer-controlled wallets that have been created.</p>
	</section>

	<section>
		<h2>Create Wallet Set</h2>
		<form action={actions.createWalletSet.createWalletSet} method="POST">

			<div class="input-wrapper">
				<label for="walletSetName">Wallet Set Name</label>
				<input type="text" id="walletSetName" name="walletSetName" placeholder="e.g. Sally's Grocery" />
			</div>
			
			{secretsConfigured ? 
				<button >Create</button> :
				<button disabled>Create</button>
			}
		</form>
		{!secretsConfigured && <p>Your secrets have not been configured.</p>}
		{createWalletSetResponse?.error && <p>Transaction failed. Please check your transaction logs for details.</p>}
	</section>

	<section>
		<h2>Wallet Sets</h2>
		<WalletSets />
	</section>
</BaseLayout>

<style>
	h1,
	h2 {
		margin-block-end: var(--space-xs);
	}

	small {
		font-size: var(--step--1);
	}

	form {
		display: flex;
		gap: var(--space-m);
		margin-block-end: var(--space-xs);
	}

	.select-wrapper {
		display: flex;
		flex-direction: column;
	}

	button {
		align-self: end;
	}

	:global(select) {
		width: 13em;
	}
</style>
